**/.DS_Store
**/__pycache__/
**/*.pyc
**/.lpm/
**/node_modules/
**/lpm.lock
**/lpm.lockb
**/dist/
install/**/.npmrc
workspace/**/.npmrc
install/dev/basic/*-capture.json
install/dev/orchestration/orchestration-events.jsonl
*.log
